html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  flex: 1;  /* This makes the main content area grow to take up remaining space */
  padding: 20px;
}

.hero {
  background-image: url('/public/images/foodWallpaper.jpg');
  background-size: cover;
  color: #fff;
  padding: 165px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

/* SEARCH */
#search-section {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(1px); /* Apply a blur effect */
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

#search-section p {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff; /* Dark text color */
}

#search-input {
  width: 300px; /* Adjust the width as needed */
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: background 0.3s ease-in-out; /* Smooth transition */
}

#search-input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.5); /* Lighter background on focus */
}

#search-form button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #3d3d3d; /* Example of button color */
  color: #fff;
  cursor: pointer;
}

#search-form button:hover {
  background-color: #2d2d2d; /* Darker shade for hover effect */
}